.allCards {
    display: flex;
    justify-content: space-around;
    padding:25px;
    flex-wrap: wrap;
}

.selectors {
    display: flex;
    justify-content: center;
    padding-left:10px;
    padding-bottom:10px;
    background-color: blanchedalmond;
}

.order {
    padding-left: 15px;
    padding-top: 10px;
}

.boton {
    padding-top: 5px;
}