.smsan {
    display: flex;
    justify-content: center;
    text-wrap: balance;
}

.smsan img {
    height: 168px;
    width:299px;
}

.auth {
    display: flex;
    justify-content: center;
    text-wrap: balance;
}

.auth img {
    height:159px;
    width:318px;
}

.Dan {
    display: flex;
    justify-content: center;
    text-wrap: balance;
}

.Dan img {
    height:161px;
    width:312px;
}

.guest {
    display: flex;
    justify-content: center;
    text-wrap: balance;
}

.guest img {
    height:168px;
    width:300px;
}